.display{
    display: flex;
    justify-content: center;
    align-items: center;
}
.head{
    font-size: 30px;
    color: #fff;
}


.line{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    font-size: 20px;
    background-color: white;
    box-shadow: #383636;
}

.but{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
   margin-left: 100px;
    

    
} 


body{
    background-color:#5b5b5b ;

    background-image: url(../../public/images/white.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

  
/* primary: {
    light: "#757ce8",
    main: "#5b5b5b",
    dark: "#002884",
    contrastText: "#fff", */