.display{
    display: flex;
    justify-content: center;
    align-items: center;
}
.head{
    font-size: 30px;
    color: #fff;
}


.line{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    font-size: 20px;
    background-color: white;
    box-shadow: #383636;
}

.but{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
   margin-left: 100px;
    

    
} 


body{
    background-color:#5b5b5b ;
    background-image: url(https://images.unsplash.com/photo-1489647767089-3944a3baa54e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

  
/* primary: {
    light: "#757ce8",
    main: "#5b5b5b",
    dark: "#002884",
    contrastText: "#fff", */